.register-page form {
    width: 30%;
    margin: 0px auto;
}

.form-group {
    position: relative;
}

.register-password-eye {
    position: absolute;
    right: 12px;
    bottom: 9px;
}

.register-password-eye img {
    width: 18px;
}

.error-msg {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.error-msg h6 {
    display: inline-block;
    color: red;
}

.register-button {
    margin-top: 30px;
}

.red-border {
    border: 1px solid red !important;
}