.register-page form {
    width: 35%;
    margin: 0px auto;
    background-color: #ff8303;
    padding: 60px;
    border-radius: 50px;
    color: white;
}

.register-headline h3 {
    color: white;
    text-align: center;
}

.form-group {
    position: relative;
}

.register-password-eye {
    position: absolute;
    right: 12px;
    bottom: 30px;
}

.register-password-eye img {
    width: 18px;
}

.error-msg {
    width: 100%;
    text-align: right;
    /* margin-bottom: 10px; */
}

.error-msg h6 {
    display: inline-block;
    color: red;
    margin-bottom: 0;

}

.register-button {
    margin-top: 30px;
    margin-bottom: 20px;
}

.red-border {
    border: 3px solid red !important;
}