@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px !important;
  font-weight: 400;

  /* Header */
}
.navbar-light .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  color: #000000 !important;
  font-size: 0.875rem !important;
  line-height: 1.313rem !important;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.header-top {
  height: 50px;
  background-color: #007bff;
}
.header-top a {
  color: white;
}
.header-top-inner{
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-header,
.login-register-header{
  display: flex;
  height: 100%;
}

.phone-header,
.register-header
{
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.email-header,
.login-header {
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  padding: 0 10px;
 
}

.phone-header-icon{
  margin-right: 5px;
}

.email-header-icon{
  margin-right: 10px;
}


 /* Header end */





